:root {
  --clr-bg: #254158;
  --clr-lbg: #4f85b1;
  --clr-primary: #f4ffff;
  --clr-link: #00d3cc;
}

.softwares {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;
}

.softwares_row {
  display: flex;
  flex-wrap: wrap;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

.software {
  display: flex;

  align-items: center;
  justify-content: center;

  background-color: var(--clr-bg);
  margin: 15px;
  font-size: 150%;
  padding: 15px;
  flex: 1;
  width: 100%;

  height: 50%;

  border-radius: 15px;

  box-shadow: 0px 0px 5px black;
}

.software:hover {
  font-size: 285%;
}
